/* remover padroes do html */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior:  smooth;
}

.sectionContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionBackground{
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.sectionOne{
    background-image: url('../assets/background.jpg');
}

.sectionTwo{
    background-image: url('../assets/background2.jpg');    
}

.cardContainer{
    background-color: #fff;
    border-radius: 25px;
    padding: 25px;
    max-width: 450px;
    display: grid;
}

form {
    display: grid;
}

input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    background: #000;
    color: #fff;
}

footer{
    height: 150px;
    padding: 25px;
    text-align: center;
    background-color:black;
    color: aliceblue;
}

